/*

@font-face{
	font-family: 'gotham';
	src: font-url('gotham-regular.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'gotham';
	src: font-url('gotham-bold.otf') format('truetype');
	font-weight: 500;
	font-style: bold;
}

@font-face{
	font-family: 'gotham';
	src: font-url('gotham-light.ttf') format('truetype');
	font-weight: 100;
	font-style: lighten;
}

@font-face{
	font-family: 'amarillo';
	src: font-url('amarillo.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


*/